* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}

header {
    margin: 90px 120px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    margin-right: 20px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.banner {
    margin: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.banner-text {
    max-width: 580px;
}

.banner-img {
    /* margin-right: 12px; */
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

/* 
.banner-camera {
    padding: 20px;
} */

.banner-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
}

.banner-description {
    color: #3A3A3A;
    padding: 16px 0;
    font-weight: 600;
}

.btn {
    padding: 10px 24px;
    color: white;
    border: none;
    background: #E02C6D;
}
.oval{
    border-radius: 41px;

}

.fa-arrow-right {
    padding: 5px;
}

/* logo-section here */
section {
    border: 1px solid;
    border-image: linear-gradient(to right, transparent, rgba(128, 128, 128, 0.438), transparent);
    border-left: 0;
    border-right: 0;
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.logo-section {
    /* max-width: 1100px; */
    /* margin: 170px 0 0; */
    /* padding: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 120px;
}
main{
    max-width: 1100px;
    margin: 0 auto;
}

.grid-title {
    text-align: center;
    margin: 40px 0;
    color: #3A3A3A;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
}

.grid-container img {
    width: 100%;   

}

.grid-box{
    margin: 0 auto;
    padding: 15px 15px;
    width: 300px;
    min-height: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

}
.grid-container {
    max-width: 1100px;  
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.product-name {
    color: #18191F;
    font-size: 1.5rem;
    font-weight: 500;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 6px 0;
}

.product-details {
    color: var(--gray-50, #787885);
    font-family: Inter;
    font-size: .8rem;
    font-weight: 700;
}
/* .featured-container img{
    width: 40%;
    margin: 0 auto;
} */

.featured-container{
    /* max-width: 1200px; */
    min-height: 330px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.featured-title{
    color: #0A0826;
font-size: 2.3rem;
font-weight: 700;
}
.featured-description{
    margin: 16px 0;
    color: #6C6C6C;
font-weight: 700;

}
.see-more{
    text-align: right;
    margin: 0 auto;
}
footer{
    /* width: 100%; */
    height: 200px;
    margin:  auto;
    background: #0A0826;
    text-align: center;
    color: white;
    font-weight: 700;
    padding-top: 100px;
}
.icons{
    margin: 10px auto;
    display: inline-flex;
    gap: 15px;
}





/* responsive section */

/* mobile device */
@media screen and (max-width:576px) {

    nav,
    section {
        flex-direction: column;
        gap: 40px;
    }

    .banner, .featured-container {
        flex-direction: column-reverse;
        text-align: center;

        justify-content: center;
    }

    .logo-section {
        gap: 40px;
        margin: auto 20px;
    }
    .grid-container {        
        grid-template-columns: 1fr;        
    }
}




@media screen and (min-width:576px) and (max-width:960px) {
    header {
        margin: 20px auto;
    }

    nav,
    section {
        flex-direction: column;
        gap: 50px;
    }

    .banner {
        /* flex-direction: column-reverse; */
        gap: 10px;
    }

    .logo-section {
        gap: 40px;
        margin: auto;
    }
    .grid-box{
        width: 220px;        
    }
    .grid-container {        
        gap : 10px;        
    }

    
}