* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}

header {
    margin: 90px 120px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    margin-right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.banner {
    margin: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;


}

.banner-text {
    max-width: 582px;

}

.banner-img {
    /* margin-right: 12px; */
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
}

.banner-camera {
    padding: 20px;
}
.banner-title{
    color: #3A3A3A;
font-size: 52px;
font-weight: 700;
}
.banner-description{
    color: #3A3A3A;
    padding: 16px 0;
font-weight: 600;
}
.btn {
    /* display: inline-flex; */
    padding: 10px 24px;
    /* align-items: flex-start; */
    /* gap: 8px; */
    color: white;
    border: none;
    border-radius: 41px;
    background: #E02C6D;
}
.fa-arrow-right{
    padding: 5px;
}
/* logo-section here */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.logo-section{
    max-width: 1100px;
    margin: 170px 0 0;
    /* padding: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 120px;
}








/* responsive section */

/* mobile device */
@media screen and (max-width:576px) {
    nav,  section{
        flex-direction: column;
        gap: 40px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .logo-section{
        gap: 40px;
        margin: auto 20px;
    }
}



@media screen and (min-width:577px) and (max-width:960px) {
    
    nav, .banner, section{
        
        gap: 40px;
    }
    .logo-section{
        gap: 40px;
        margin: auto 20px;
    }
}